@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Though blogging began as a sort of digital journal, allowing individuals to write about their lives and experiences.
        One of the greatest benefits of blogging is that it helps you connect and build relationships with leads and customers.
    </p>
</main>